*{
  margin:0px;
  padding:0px;
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image:url(../IMG/BG/defaultBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div{
  overflow: hidden;
}

.contentBox{
  width: 60vw;
  height: 80vh;
  background-color: rgb(249, 250, 245);
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  border-radius: 10px;
  max-width: 700px;
}

.topDiv{
  width:100%;
  height:9vh;
  background-image: linear-gradient(90deg,#E8392C,darkorange);
  color:white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  text-align: center;
  line-height: 9vh;
}

.topDiv table{
  font-size: 12pt;
  width:100%;
  align-items: center;
  text-align: center;
}

.topDiv .loginInfo{
  width:30%;
}

.topDiv .topButton{
  width:20%;
}

.footerDiv{
  width:100%;
  background-image: linear-gradient(90deg,#E8392C,darkorange,#E8392C);
  background-size: 200%;
  position:absolute;
  height:6vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  align-items: center;
  transition: 0.2s;
}


.header{
  position: absolute;
  height:60px;
  top:-30px;
  line-height: 60px;
  width:100%;
  background-color: #E8392C;
  font-family: 'Staatliches', cursive;
  align-items: center;
  text-align: center;
  font-size:45px;
  transition: 0.5s;
}

.header:hover{
  top:0px;
}

a:link {color:white}
a:visited {color:white}
a:active {color:white}
a:hover{color:rgb(219, 193, 197)}

.hiddenForm{
  display: none;
}

.bg{
  position: absolute;
  top:0vh;
  transition: 0.2s;
  background-color:rgba(0, 0, 0, 0.6);
  width:100%;
  z-index: 0;
  height: 100vh;
}

.bg:hover {
  background-color:rgba(0, 0, 0, 0.5);
}

.mainContent{
  display: block;
  width:90%;
  left:50%;
  position: relative;
  transform:translateX(-50%);
  height: 63vh;
  margin-top: 1.5vh;
  margin-bottom:1.5vh;
  text-align: center;
  align-items: center;
}

.mainContent span{
  color:rgb(128, 128, 128);
}

.CamPicture{
  width:60vh;
  height:33.75vh;
}

label{
  display:block;
  font-size: 20px;
  cursor:pointer;
  background-color:rgb(222, 177, 162);
  line-height: 3.8vh;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: 0.2s;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label{
    background-color:rgb(222, 177, 162);
    color: rgb(190, 137, 119)
}

input[type="radio"]:checked + label{
  background-color:rgb(213, 111, 5);
  color:rgb(133, 20, 9);
}

input[type="radio"]:hover + label{
  background-color:rgb(133, 20, 9);
  color:rgb(255, 255, 255);
}

.logText{
  line-height: 5vh;
  display:block;
}

.sendBtn{
  display:block;
  line-height: 3.8vh;
  background-color:rgb(213, 111, 5);
  color:rgb(133, 20, 9);
  font-weight: bold;
  cursor:pointer;
  transition:0.4s;
}

.sendBtn:hover {
  color:rgb(226, 187, 183);
}

.controlDiv {
  margin-top: 5px;
  height:45vh;
  background-color: rgb(250, 238, 224);
  overflow-y:scroll;
  align-items: center;
  text-align: center;
  width:100%
}

.controlDiv::-webkit-scrollbar {
    display: none;
}

.controlDiv .controller{
  display: inline-block;
  line-height: 5vh;
  border-radius: 5px;
  background-color: rgb(133, 20, 9);
  width:calc( 100% - 20px);
  margin: 5px 5px 5px 5px;
}

.controller span{
  font-size: 20px;
  color:white;
  cursor: pointer;
}

.orderList tr{
  line-height:12vh;
  border: solid 1px rgb(224, 176, 145);
}

.orderList {
  display: inline-table;
  width: calc(100% - 22px);
  border: solid 2px rgb(195, 95, 31);
  border-collapse: collapse;
}

.orderList .orderListHeader {
  background-color: rgb(195, 95, 31);
  line-height: 4vh;
  font-weight: bold;
  color:white;
}

.removeBtn {
  width: 60px;
  height: 60px;
  border: 0;
  outline:0;
  cursor:pointer;
  background-color: rgb(241, 81, 22);
  font-weight:bold;
  color:white;
}

.commandInput {
  border:0px;
  outline:0px;
  line-height: 36px;
  font-size:18px;
  text-align: center;
  width:95%;
}
