<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./JS/md5.js"></script>
  <script src="./JS/index.js"></script>
  <link rel="stylesheet" href="./CSS/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
  <title>ROBO PIZZA</title>
</head>
<body>
  <div class="bgImg">
  </div>
  <div class="contentBox">
    <span class="titleIcon"><i class="fas fa-pizza-slice"></i></span>
    <span class="titleText">ROBO PIZZA</span>

    <form action="/loginProcess" method="post" id="loginForm">
      <div class="inputDiv">
        <span class="idText"><i class="fas fa-user"></i> 아이디</span>
        <input type="text" class="inputField" name="inputID" id="inputID" placeholder="USER ID">
      </div>
      <div class="inputDiv">
        <span class="pwText"><i class="fas fa-key"></i> 비밀번호</span>
        <input type="password" class="inputField" name="inputPW"id="inputPW" placeholder="PASSWORD">
      </div>
      <button class="submit" type="button" onclick="loginBtn()">로그인</button>
      <script>
        let loginBtn() = {
          let password = document.getElementById('inputPW')
          if (password.value == '') {alert('패스워드를 입력하세요!'); }
          password.value = calcMD5(calcMD5)
          submitBtn()
        }
      </script>
    </form>

    <div class="footerDiv">
      <div class="forgotFooter">
        <a href="/findID"><i class="far fa-user"></i> 아이디 찾기</a> &nbsp;
        <a href="/findPW"><i class="fas fa-search"></i> 비밀번호 찾기</a>
      </div>
      <div class="signUp">
        회원이 아니신가요?&nbsp;&nbsp;&nbsp; <a href="/signUp0"><i class="fas fa-sign-in-alt"></i> 회원가입</a>
      </div>
    </div>
  </div>

  <div class="footer">
    2019 링커즈 프로젝트
  </div>
</body>
</html>
