<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./CSS/UserIndex.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div class="bg"></div>

  <div class ="header">
    <a href="/"><i class="fas fa-pizza-slice"></i>&nbsp;&nbsp;&nbsp;&nbsp;ROBO PIZZA</a>
  </div>

  <div class="contentBox">
    <div class="topDiv">
      <table>
        <tr>
          <td class ="loginInfo">###님 반갑습니다.</td>
          <td class ="topButton">
            <a href="/userCart">배송 조회</a>
          </td>
          <td class ="topButton">
            <a href="/userCart">정보 수정</a>
          </td>
          <td class ="topButton">
            <a href="/userCart">로그아웃</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="mainContent">
      <div id="map" style="width:500px;height:400px;"></div>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=424e67d36b5d47e99a94d855abd58ff5"></script>
      <script src="./JS/UserIndex.js"></script>
    </div>

    <div class="footerDiv">

    </div>
  </div>

</body>
</html>
