<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webcam Test</title>
</head>
<body>
  <div align="center" width="800px">
    <h1>Webcam Test Page</h1>
    2019.12.07 링커즈 김영찬<br /><br />
    <img src="./test.bmp" width="640" height="480" id="img">
    <script>
      let img = document.getElementById('img')
      let count = 1
      setInterval(() => {img.src = `./test.bmp?time=${count}`
      count++
    },120)
    </script>
  </div>
</body>
</html>

